@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#app-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.paineis {
    display: flex;
    flex: 1;
}